.row{
    margin-right: 0;
    margin-left: 0;
    --bs-gutter-x: 3.5rem;
}
#serch-result{
    margin-left: 60px;
}
.card{
    width: 450px;
    background-color: antiquewhite;
}
#phone-details .card{
    padding-top: 20px;
    background-color: #BBDEFB;
}

#phone-details{
    width: 600px;
    margin-bottom: 30px;
}

#phone-details .card-body{
    margin-top: 20px;
    margin-left: 80px;
} 

.alert{
    display: none;
}
